

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --very-dark-gray-color: #A9A9A9;
    --white: #fff;
    --black:#000;
}

body{
    width: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all{
    width: auto;
}

.all .ourCalc{
    
}