@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff
}

body{
    width: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #042123;
}

.all{
    width: auto;
    margin-top: -50px;
}

.all .heading{
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.all .heading h1{
    position: relative;
    font-size: 45px;
}

.all .ourCalc{
    width: auto;
    margin-left: 50px;
}

.all .ourCalc label{
    width: auto;
    display: block;
}

.all .ourCalc button{
    color: #000;
    width: 85%;
    border: none;
    margin-top: 20px;
    position: relative;
}

.all .ourCalc button::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: red;
    inset: 5;
    left: 20px;
    transition: animate 3s;
}

.all .ourCalc button:hover{
    background: #042123;
    color: #04ed;
    letter-spacing: 20px;
    transition: 2s ease-in-out;
}

.all .ourCalc button::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: red;
    inset: 5;
    right: 20px;
    bottom: -1px;
}
