@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff
}

body{
    width: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #042123;
}

.all{
    width: auto;
    margin-top: -50px;
}

.all .heading{
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

.all .heading h1{
    position: relative;
    font-size: 45px;
}

.all .ourCalc{
    width: auto;
}

.all .ourCalc label{
    width: auto;
    display: block;
}


/* .all .ourCalc input{
    margin-left: 20px;

} */